@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@media (max-width: 550px) {
    .navbar-ul li {
        display: inline;
        padding: 0 1.2vw;
    }
    .navbar-ul li a {
        color: #981d97;
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5vw;
    }
    .navbar-ul {
        list-style: none;
        margin: 0;
        padding-top: 0.7vw;
        padding-left: 24vw;
        padding-right: 2vw;
        float: right;
        position: absolute;
        display: inline;
    }
}
.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
}
.bar {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-image: url("./Assets/WIE ACT Background 3-2.png");
    background-repeat: no-repeat;
}
.logo {
    padding: 1vw 6.5vw;
    width: 15vw;
}
.navbar-ul {
    list-style: none;
    margin: 0;
    padding-top: 1.4vw;
    padding-left: 24vw;
    padding-right: 2vw;
    float: right;
    position: absolute;
    display: inline;
}
.navbar-ul li {
    display: inline;
    padding: 0 1.2vw;
}
.navbar-ul li a {
    color: #981d97;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
}
.navbar-ul li a:hover {
    color: #c87fbf;
}
.App {

}
.footer {
    padding: 1vw 3vw;
    background-color: #e5d2e5;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}
.logo-event {
    width: 12vw;
}
.footer-logo1 {
    width: 9vw;
    padding-right: 1vw;
}
.footer-logo2 {
    width: 9vw;
    padding-left: 1vw;
}
.icon {
    width: 4vw;
}
.head-title {
    font-size: 3vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
}
.home-head1 {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
}
.home-head2 {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    padding-top: 5vw;
    justify-content: center;
}
.home-title {
    font-size: 3vw;
    font-family: 'Philosopher', sans-serif;
    color: #0b0b45;
    display: inline;
    padding-right: 25vw;
}
.home-medicine {
    width: 30vw;
    float: right;
    padding-right: 5vw;
}
.home-competition-section {
    padding-bottom: 15vw;
}
.home-competition-text-container {
    padding-left: 5vw;
    padding-right: 36vw;
    padding-top: 3vw;
}
.home-competition-text {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    text-align: justify;
    border-left: 0.6vw solid;
    border-right: 0.6vw solid;
    padding-left: 1vw;
    padding-right: 1vw;
    border-image: radial-gradient(#981d97 5%, transparent 50%) 1 100%;
}
.home-theme {
    width: 80%;
    height: auto;
}
.footer-icon1 {
    width: 3vw;
    height: 3vw;
    color: #981d97;
}
.footer-icon1:hover {
    color: #c87fbf;
}
.footer-icon2 {
    width: 3vw;
    height: 3vw;
    color: #981d97;
}
.home-text {
    font-family: 'Scope One', serif;
    font-size: 1.6vw;
    padding: 1vw;
    border-radius: 1vw;
    border-color: #981d97;
    border-top: 0.6vw solid;
    border-bottom: 0.6vw solid;
    border-image: radial-gradient(#981d97 5%, transparent 30%) 50% 1;
}
.column {
    width: fit-content;
}
.footer-title {
    color: #981d97;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
}
.footer-title-center {
    color: #981d97;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
}
.footer-text {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    display: inline;
    padding-left: 1vw;
    vertical-align: 0.7vw;
}
.home-logo-container {
    width: 100%;
    padding-top: 8vw;
    padding-left: 2vw;
    text-align: center;
}
.home-logo {
    width: 40vw;
}
.home {
    text-align: center;
}
.home-text-container {
    width: 50%;
    padding-top: 5vw;
    padding-bottom: 8vw;
}
.home-text-container-father {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button1 {
    background-color: #981d97;
    border: none;
    color: white;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 1.5vw;
    font-family: 'Philosopher', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: center;
}
.button2 {
    background-color: #981d97;
    border: none;
    color: white;
    margin-right: 32vw;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 1.5vw;
    font-family: 'Philosopher', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: center;
}
.button3 {
    background-color: #981d97;
    border: none;
    color: white;
    margin-right: 32vw;
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 1.5vw;
    font-family: 'Philosopher', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    justify-content: center;
}
.button:hover {
    background-color: #c87fbf;
}
.about-section1 {
    padding-top: 15vw;
}
.about-text-container1 {
    padding-left: 5vw;
    padding-right: 36vw;
    padding-top: 3vw;
}
.logo-us {
    float: right;
    width: 26vw;
    padding-right: 5vw;
}
.about-section2 {
    padding-top: 15vw;
}
.about-text-container2 {
    padding-right: 5vw;
    padding-top: 1vw;
    padding-left: 37vw;
}
.logo-enis {
    float: left;
    width: 26vw;
    padding-left: 5vw;
}
.about-section3 {
    padding-top: 15vw;
}
.about-text-container3 {
    padding-left: 5vw;
    padding-right: 36vw;
    padding-top: 1vw;
}
.logo-wie-us {
    float: right;
    width: 22vw;
    padding-right: 5vw;
}
.about-section4 {
    padding-top: 18vw;
    padding-bottom: 20vw;
}
.about-text-container4 {
    padding-right: 5vw;
    padding-left: 35vw;
}
.logo-wie-enis {
    float: left;
    width: 20vw;
    padding-left: 5vw;
}
.about-title {
    font-size: 3vw;
    font-family: 'Philosopher', sans-serif;
    color: #45012d;
    display: inline;
}
.about-text {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    text-align: justify;
    border-left: 0.6vw solid;
    border-right: 0.6vw solid;
    padding-left: 1vw;
    padding-right: 1vw;
    border-image: radial-gradient(#981d97 5%, transparent 50%) 1 100%;
}
.about-head {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    margin: 0;
}
.program-head {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    margin: 0;
}
.program-container {
    width: 80%;
}
.table {
    padding-top: 15vw;
    padding-left: 9vw;
    width: 100%;
    height: auto;
}
.program-title {
    font-size: 3vw;
    font-family: 'Philosopher', sans-serif;
    color: #0b0b45;
    display: inline;
    padding-right: 25vw;
}
.program-award {
    width: 30vw;
    float: right;
    padding-right: 3vw;
    padding-top: 3vw;
}
.program-competition-section {
    padding-top: 5vw;
}
.program-competition-text-container {
    padding-left: 5vw;
    padding-right: 36vw;
    padding-top: 3vw;
}
.program-competition-text1 {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    text-align: justify;
    border-left: 0.6vw solid;
    border-right: 0.6vw solid;
    padding-left: 1vw;
    padding-right: 1vw;
    border-image: radial-gradient(#981d97 5%, transparent 50%) 1 100%;
}
.program-party {
    width: 30vw;
    float: left;
    padding-left: 3vw;
}
.program-party-section {
    padding-top: 5vw;
    padding-bottom: 15vw;
}
.program-party-text-container {
    padding-right: 5vw;
    padding-left: 36vw;
    padding-top: 3vw;
}
.program-party-text1 {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    text-align: justify;
    border-left: 0.6vw solid;
    border-right: 0.6vw solid;
    padding-left: 1vw;
    padding-right: 1vw;
    border-image: radial-gradient(#981d97 5%, transparent 50%) 1 100%;
}
.program-competition-text2 {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    text-align: justify;
    border-left: 0.6vw solid;
    padding-left: 1vw;
    padding-right: 1vw;
    border-image: radial-gradient(#981d97 5%, transparent 50%) 1 100%;
}
.speakers-section1 {
    width: 100%;
    display: flex;
    padding-top: 15vw;
}
.speakers-section2 {
    width: 100%;
    display: flex;
    padding-top: 25vw;
}
.speakers-section3 {
    width: 100%;
    display: flex;
    padding-top: 25vw;
}
.speakers-section4 {
    width: 100%;
    display: flex;
    padding-top: 25vw;

}
.speakers-section5 {
    width: 100%;
    display: flex;
    padding-top: 25vw;
}
.speakers-section6 {
    width: 100%;
    display: flex;
    padding-top: 25vw;
}
.speakers-section7 {
    width: 100%;
    display: flex;
    padding-top: 25vw;
    padding-bottom: 40vw;
}
.speakers-title {
    font-size: 3vw;
    padding-top: 2vw;
    font-family: 'Philosopher', sans-serif;
    color: #45012d;
    margin-bottom: 2vw;
}
.speakers-point {
    padding-left: 2vw;
}
.speakers-text {
    font-family: 'Scope One', serif;
    font-size: 1.4vw;
    color: #0b0b45;
    padding-left: 1vw;
    font-weight: bold;
    display: inline;
    vertical-align: 0.7vw;
}
.speakers-head {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    margin: 0;
}
.cadre1 {
    float: left;
    padding-left: 10vw;
    width: 65vw;
    height: auto;
    position: absolute;
}
.cadre2 {
    float: right;
    padding-left: 26vw;
    width: 65vw;
    height: auto;
    position: absolute;
}
.cadre3 {
    float: left;
    padding-left: 10vw;
    width: 65%;
    height: auto;
    position: absolute;
}
.cadre4 {
    float: right;
    padding-left: 26vw;
    width: 65%;
    height: auto;
    position: absolute;
}
.cadre5 {
    float: left;
    padding-left: 10vw;
    width: 65%;
    height: auto;
    position: absolute;
}
.cadre6 {
    float: right;
    padding-left: 26vw;
    width: 65%;
    height: auto;
    position: absolute;
}
.cadre7 {
    float: left;
    padding-left: 10vw;
    width: 65%;
    height: auto;
    position: absolute;
}
.point {
    width: 2vw;
}
.speakers-text-container1 {
    position: absolute;
    padding-left: 34vw;
}
.speakers-text-container2 {
    position: absolute;
    padding-left: 32vw;
}
.speakers-text-container3 {
    position: absolute;
    padding-left: 34vw;
}
.speakers-text-container4 {
    position: absolute;
    padding-left: 32vw;
}
.partners-head {
    font-size: 5vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #45012d;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    margin: 0;
}
.partners-slot {
    width: 100%;
    height: auto;
    position: absolute;
}
.partners-row1 {
    display: flex;
    padding-top: 10vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.partners-row2 {
    display: flex;
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.partners-row3 {
    display: flex;
    width: 30%;
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 35vw;
    padding-right: 5vw;
}
.partners-column {
    width: 100%;
    position: relative;
    margin-bottom: 10vw;
}
.partners-logo-section {
    width: 20vw;
    position: absolute;
    padding-left: 4.5vw;
    padding-top: 8.5vw;
}
.partners-logo-wie {
    width: 14vw;
    position: absolute;
    padding-left: 7.2vw;
    padding-top: 4.4vw;
}
.partners-logo-yp {
    width: 24vw;
    position: absolute;
    padding-left: 3vw;
    padding-top: 8vw;
}
.partners-logo-cis {
    width: 20vw;
    position: absolute;
    padding-left: 4.7vw;
    padding-top: 6.5vw;
}
.partners-logo-sllid {
    width: 16vw;
    position: absolute;
    padding-left: 6.7vw;
    padding-top: 3.5vw;
}
.partners-logo-just {
    width: 16vw;
    position: absolute;
    padding-left: 6.7vw;
    padding-top: 4vw;
}
.partners-logo-psi {
    width: 12vw;
    position: absolute;
    padding-left: 8.7vw;
    padding-top: 6.7vw;
}
.collab-text-container {
    width: 50%;
    padding-top: 5vw;
    padding-bottom: 8vw;
}
.collab-text-container-father {
    width: 100%;
    display: flex;
    justify-content: center;
}
.collab-text1 {
    font-family: 'Scope One', serif;
    font-size: 1.6vw;
    padding: 1vw;
    text-align: justify;
    text-align-last: center;
    border-radius: 1vw;
    border-color: #981d97;
    border-top: 0.6vw solid;
    border-image: radial-gradient(#981d97 5%, transparent 30%) 50% 1;
}
.collab-text2 {
    font-family: 'Scope One', serif;
    font-size: 1.6vw;
    padding: 1vw;
    text-align: justify;
    text-align-last: center;
    border-radius: 1vw;
    border-color: #981d97;
    border-bottom: 0.6vw solid;
    border-image: radial-gradient(#981d97 5%, transparent 30%) 50% 1;
}